/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
html {
  --refRes: 1900;
  font-size: calc(100vw / var(--refRes) * 10);
}
body {
  background-color: black;
  overflow: hidden;
}

.video-bg {
  width: 100%;
  z-index: -10;
  right: -1.2rem;
  position: absolute;
}
@media (max-width: 770px) {
  .video-bg {
    height: 100%;
    width: unset;
  }
}

.desktop {
  display: block;
}
@media (max-width: 770px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}
@media (max-width: 770px) {
  .mobile {
    display: block;
  }
}

.bbox {
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  z-index: 12;
  border-right: 4rem solid black;
  border-left: 4rem solid black;
  background-color: black;
}
@media (max-width: 770px) {
  .bbox {
    border-right: 9rem solid black;
    border-left: 9rem solid black;
  }
}

.long-span {
  width: 100%;
}

span {
  display: inline-block;
  color: wheat;
  background-color: black;
  padding: 0rem 1rem;
  font-size: 14rem;
  line-height: 14rem;
}
@media (max-width: 770px) {
  span {
    font-size: 21rem;
    line-height: 21rem;
  }
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1rem solid black;
  border-right: 1rem solid black;
}

.line:first-child {
  border-top: 1rem solid #000;
}

.zero {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-top: 3rem solid black;
  border-left: 1.3rem solid black;
  border-right: 1.3rem solid black;
  border-bottom: 2rem solid black;
}